*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: white;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 2.3rem;
}