---
import styles from '../styles/global.scss'
---


<main class="container" id="intro">
    <h1>Trade with our platform today.</h1>
    <div class="services">
        <div class="card">
            <div class="icon icon1">
                <i class="fa-solid fa-bolt"></i>
            </div>
            <div class="text">
                <h2>Instant Trades</h2>
                <p>
                    Buy and sell your cryptocurrency and all types of gitcards safely using our platform.
                    we offer instant live Trades, you can also use our whatsapp plaftorm.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="icon icon2">
                <i class="fa-solid fa-arrow-trend-up"></i>
            </div>
            <div class="text">
                <h2>Best Rates</h2>
                <p>
                    Sell your crypto and giftcards with us at the best rate. we give you the best rates on the net.
                    and we quarantee safe payments
                </p>
            </div>
        </div>

        <div class="card">
            <div class="icon icon3">
                <i class="fa-solid fa-wallet"></i>
            </div>
            <div class="text">
                <h2>Fast Payments</h2>
                <p>
                    Onces trade is complited your fund are deposited to you using your prefered payment method selected.
                    we also provide escrow services, to safe guard your money.
                </p>
            </div>
        </div>
    </div>
</main>

<style lang="scss">
    $primary-color:#333232;
    $secondary-color:#6F75E8;
    $light-color:#A594F9;
    $font-stack:'Roboto', sans-serif;

    .container{
        font-family: $font-stack;
        padding: 2.4rem 1.5rem;
        background-color: white;
        text-align: center;
        h1{
            font-size: 23px;
            font-weight: 500;
            color: $primary-color;
        }
        .services{
            display: flex;
            align-items: left;
            justify-content: center;
            padding: 2rem 0;
            flex-direction: column;
            text-align: left;
            .card{
                margin-top: 2rem;
                .icon{
                    width: 4rem;
                    min-height: 4rem;
                    border-radius: 4rem;
                    background-color: $light-color;
                    color: white;
                    margin-bottom: .8rem;
                }
                .icon1{
                    padding: 1.4rem;
                    font-size: 18px;
                    font-weight: 800;
                }
                .icon2{
                    padding: 1.3rem 1.5rem;
                    font-size: 18px;
                    font-weight: 800;
                }
                .icon3{
                    padding: 1.3rem 1.5rem;
                    font-size: 18px;
                    font-weight: 800;
                }
                .text{
                    h2{
                        color: $primary-color;
                        font-size: 20px;
                        font-weight: 500;
                        margin-bottom: .3rem;
                    }
                    p{
                        color: $primary-color;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1.2rem;
                    }
                }
            }
        }
    }

    @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1){
        .container{
        font-family: $font-stack;
        padding: 5rem 4rem;
        background-color: white;
        text-align: center;
        width: 100%;
        h1{
            font-size: 32px;
            font-weight: 500;
            margin-bottom: 1rem;
        }
        .services{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4rem;
            padding: 3rem 0;
            flex-direction: row;
            .card{
                margin-top: 2rem;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: white;
                .icon{
                    width: 5rem;
                    min-height: 5rem;
                    border-radius: 5rem;
                    background-color: $light-color;
                    margin-bottom: 1rem;
                }
                .icon1{
                    padding: 1.8rem;
                    font-size: 18px;
                    font-weight: 900;
                    }
                .icon2{
                    padding: 1.6rem 2rem;
                    font-size: 18px;
                    font-weight: 900;
                }
                .icon3{
                    padding: 1.6rem 2rem;
                    font-size: 18px;
                    font-weight: 900;
                }
                .text{
                    h2{
                        color: $primary-color;
                        font-size: 26px;
                        font-weight: 500;
                        margin-bottom: .4rem;
                    }
                    p{
                        color: $primary-color;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 1.2rem;
                    }
                }
            }
        }
    }
    }
</style>